<li class="media" style="display:none;">
    <div class="media-body">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object img-circle " style="max-height:70px;" src="/avatars/<%-avatar%>.png" />
            </a>
            <div class="media-body" >
                <span><%=mess%></span>
                <p class="text-muted"><span class="user_name"><%-name%></span> | <%-date%></p>
                <hr />
            </div>
        </div>
    </div>
</li>