<li class="media" style="display:none;">
    <div class="media-body">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object img-circle " style="max-height:80px;" src="/avatars/<%-avatar%>.png" />
            </a>
            <div class="media-body" ><%-mess%><br />
                <small class="text-muted"><span class="user_name"><%-name%></span> | <%-date%></small>
                <hr />
            </div>
        </div>
    </div>
</li>