<li style='display:none;' class='media sysmess'>
    <div class='media'>
        <div class='media-body'><%-mess%><br />
            <small class='text-muted'>Server | <%-date%></small>
            <hr />
        </div>
    </div>
</li>